token
.vscode
vmprotect/
VMHunt/
code_virtualizer/
deobfuscator/tracer/obj*
VMP-Imports-Deobfuscator
Triton/
etc/
venv_38/

test/trace* 
test/test
test/objdump* 
test/pin*
test/vm_*

triton/output
triton/test_native_tmp